<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WoW TBC Classic - Auction Items</title>
</head>
<body>
    <h1>WoW TBC Classic</h1>
    <h2>Get all auction house items</h2>
    <form action="/auctions/item" method="POST" class="" id="getItem">
        <label for="itemID">Item ID:</label>
        <input type="text" name="itemID" id="itemID" value="22794"/>
        <button type="submit">Check</button>
    </form>
    <h3>Liste der Alchemie Items</h3>
    <ul>
        <li>22794 Teufelslotus</li>
        <li>22793 Manadistel</li>
        <li>22791 Netherblüte</li>
        <li>22786 Traumwinde</li>
        <li>22790 Urflechte</li>
        <li>22789 Terozapfen</li>
        <li>22792 Alptraumranke</li>
        <li>22861 Fläschchen des blendenden Lichts (Netherblüte)</li>
        <li>22853 Fläschchen der mächtigen Wiederherstellung (Traumwinde)</li>
        <li>22851 Fläschchen der Stärkung (Urflechte)</li>
        <li>22854 Fläschchen des unerbittlichen Angriffs (Terozapfen)</li>
        <li>22866 Fläschchen des reinen Todes (Alptraumranke)</li>
        <li>6948 Ruhestein</li>
    </ul>
    <h2>Get alchemy auction house items</h2>
    <form action="/auctions/alchemy" method="POST" class="" id="getAlchemy">
        <!-- <label for="">Alchemy Items & Profit:</label> -->
        <button type="submit">Check Profit</button>
    </form>
</body>
</html>