<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Show</h1>

<!-- 


auctions.forEach((auction,i) => {
    res.write("ID: " + auction.item.id + " ");
    res.write("Buyout: " + auction.buyout + " ");
    res.write("Quantity: " + auction.quantity+"\n");
    let auction_buyout = JSON.stringify(auction.buyout);
    //reverse buyout to prettify
    auction_buyout = util.reverse(auction_buyout);
    //reverse again to display correct number
    const gold = util.reverse(auction_buyout.slice(4));
    const silver = util.reverse(auction_buyout.slice(2,4));
    const copper = util.reverse(auction_buyout.slice(0,2));

    res.write(`(${auction.quantity}): ${gold}g ${silver}s ${copper}c \n`);
});


-->

</body>
</html>